.box{
    width: 300px;
    height: 300px;
    margin: 20px;
    display: inline-block;
    text-align: center;
    border-radius: 10%;
}
.green{
    background-color: darkgreen;
}
.red{
    background-color: darkred;
}
.blue{
    background-color: darkblue;
}
.container{
    text-align: center;
}