div{
   display: inline-block;
    background-color: rgb(25, 8, 95);
    text-align: center;
color: white;
}
ul{
    list-style-type: none;
    margin: 0%;
    padding: 5px;
}
.u1{
    background-color: skyblue;
}
ul:hover{
    cursor: pointer;
}
