body{
    background-color:cornflowerblue;
}
div{
    width: 300px;
    height: 300px;
    background-color: white;
    margin: 150px;
    margin-left: 600px;
    border-radius: 5%;
    color: gray;
}
span{
    color:blue;
}
h3{
    padding: 20px;
    margin-top: 80px;
    margin-left: 50px;
}
input{
    width: 60%;
    margin-left: 50px;
    margin-bottom: 15px;
    color: gray;
    border: none;
    border-bottom: 2px solid blue;
}
.n1{
    background-color: cornflowerblue;
    padding: 10px;
    color: white;
}
p{
    color: gray;
    margin-left: 80px;
    margin-top: -10px;
}
a{
    margin-left: 90px;
    margin-top: -10px;
    text-decoration: none;
}